<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantProject"
        tools:targetApi="31">
        <activity
            android:name=".DeliveryAddActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryListActivity"
            android:exported="true" />
        <activity
            android:name=".DeliveryDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ReservationActivity"
            android:exported="true" />
        <activity
            android:name=".OrderDeliveryActivity"
            android:exported="true" />
        <activity
            android:name=".MainRestaurantDetail"
            android:exported="true" />
        <activity
            android:name=".MainProductDetail"
            android:exported="false" />
        <activity
            android:name=".MainMenuDetail"
            android:exported="true" />
        <activity
            android:name=".MainMenuList"
            android:exported="true" />
        <activity
            android:name=".MainRestaurantList"
            android:exported="true" />
        <activity
            android:name=".MainCategoryList"
            android:exported="true" />
        <activity
            android:name=".MainProductList"
            android:exported="true" />
        <activity
            android:name=".ProductUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".TableDetailActivity"
            android:exported="true" />
        <activity
            android:name=".TableAddActivity"
            android:exported="false" />
        <activity
            android:name=".TableUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".TableListActivity"
            android:exported="true" />
        <activity
            android:name=".MenuOrderActivity"
            android:exported="true" />
        <activity
            android:name=".OrderAddMainActivity"
            android:exported="true" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".OrderUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".OrderAddActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OrderListActivity"
            android:exported="true" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ProductAddActivity"
            android:exported="true" />
        <activity
            android:name=".ProductListActivity"
            android:exported="true" />
        <activity
            android:name=".MenuUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".MenuDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".MenuListActivity"
            android:exported="true" />
        <activity
            android:name=".MenuAddActivity"
            android:exported="true" />
        <activity
            android:name=".RestaurantUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".RestaurantDetailActivity"
            android:exported="true" />
        <activity
            android:name=".RestaurantAddActivity"
            android:exported="true" />
        <activity
            android:name=".RestaurantListActivity"
            android:exported="true" />
        <activity
            android:name=".AccountUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".AccountListActivity"
            android:exported="true" />
        <activity
            android:name=".AccountDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".AccountAddActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryAddActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryListActivity"
            android:exported="true" />
        <activity
            android:name=".ViewProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".UserRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".UserLoginActivity"
            android:exported="true" />
        <activity
            android:name=".NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>